.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

:root {
    --ui-colors-background: #2f363d;
    --ui-colors-text: #fff;
}
